* {
  scrollbar-width: none;
  font-family: 'Josefin Sans', sans-serif;

}

label {
  font-family: 'Josefin Sans', sans-serif;
}

.mantine-TextInput-input,
.mantine-Textarea-input,
.mantine-Select-input {
  font-family: 'Josefin Sans', sans-serif !important;
}

body,html {
  overflow-x: hidden;
  background-color: #FFF0DF !important;
}